@model SFA.DAS.DigitalCertificates.Web.Models.Certificates.CertificateStandardViewModel
@using SFA.DAS.DigitalCertificates.Web.Controllers
@using SFA.DAS.DigitalCertificates.Web.Enums
@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@{
    ViewData[ViewDataKeys.Title] = ViewData[ViewDataKeys.ServiceName] + " Certificate Standard";
    ViewBag.GaData.Vpv = @ViewData[ViewDataKeys.GaDataVpvPrefix] + "certificate-standard";
    var certificateId = Model?.CertificateId;
}

<div class="govuk-width-container">

    @if (Model?.ShowBackLink ?? true)
    {
        <a asp-route="@CertificatesController.CertificatesListRouteGet" class="govuk-back-link">Back</a>
    }

    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-m">@Model?.CourseName</h1>

                <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                        <span class="govuk-panel__title">@Model?.OverallGradeBannerDisplay</span>
                    </div>
                </div>

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Your details</caption>
                    <tbody class="govuk-table__body">
                        @if (!string.IsNullOrEmpty(Model?.GivenNames))
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third">First name</th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.GivenNames</td>
                            </tr>
                        }

                        @if (!string.IsNullOrEmpty(Model?.FamilyName))
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Last name</th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.FamilyName</td>
                            </tr>
                        }

                        @if (Model?.Uln != null)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Unique learner number</th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.Uln</td>
                            </tr>
                        }

                        @if (!string.IsNullOrEmpty(Model?.CertificateReference))
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Certificate number</th>
                                <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.CertificateReference</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (!string.IsNullOrEmpty(Model?.CourseName) || Model?.CourseLevel != null || !string.IsNullOrEmpty(Model?.CourseOption) || !string.IsNullOrEmpty(Model?.ProviderName) || !string.IsNullOrEmpty(Model?.AssessorName) || !string.IsNullOrEmpty(Model?.EmployerName) || Model?.StartDate != null || Model?.DateAwarded != null || Model?.OverallGradeEnum.IsAvailable() == true)
                {
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Apprenticeship details</caption>
                        <tbody class="govuk-table__body">
                            @if (!string.IsNullOrEmpty(Model?.CourseName))
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Course</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.CourseName</td>
                                </tr>
                            }

                            @if (Model?.CourseLevel != null)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Level</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.CourseLevel</td>
                                </tr>
                            }

                            @if (!string.IsNullOrEmpty(Model?.CourseOption))
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Option</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.CourseOption</td>
                                </tr>
                            }

                            @if (!string.IsNullOrEmpty(Model?.ProviderName))
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Training provider</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.ProviderName</td>
                                </tr>
                            }

                            @if (!string.IsNullOrEmpty(Model?.AssessorName))
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Assessment organisation</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.AssessorName</td>
                                </tr>
                            }

                            @if (!string.IsNullOrEmpty(Model?.EmployerName))
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Employer</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.EmployerName</td>
                                </tr>
                            }

                            @if (Model?.StartDate != null)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Start date</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.StartDate?.ToString("dd MMMM yyyy")</td>
                                </tr>
                            }

                            @if (Model?.DateAwarded != null)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Date awarded</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.DateAwarded?.ToString("dd MMMM yyyy")</td>
                                </tr>
                            }

                            @if (Model?.OverallGradeEnum.IsAvailable() == true)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Result</th>
                                    <td class="govuk-table__cell govuk-!-width-two-thirds">@Model.OverallGradeResultDisplay</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @* TODO: contact us. This is not part of the current ticket and will need to be addressed based on the requirements in upcoming tickets. *@
                <p class="govuk-body">If any of these details are incorrect, <a href="contact-us">contact us</a>.</p>

                <h2 class="govuk-heading-m">Create a sharing link</h2>
                <p class="govuk-body">You can create a secure link to share your apprenticeship certificate. This allows employers, colleges or universities to verify your apprenticeship.</p>
                <a asp-route="@CertificatesController.CreateCertificateSharingRouteGet" asp-route-certificateId="@certificateId" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Create link</a>

                @* TODO: Download your certificate. This is not part of the current ticket and will need to be addressed based on the requirements in upcoming tickets.  *@
                <h2 class="govuk-heading-m">Download your certificate</h2>
                <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Download certificate (PDF)</a>

                @* TODO: Request a printed certificate. This is not part of the current ticket and will need to be addressed based on the requirements in upcoming tickets. *@
                <h2 class="govuk-heading-m">Request a printed certificate</h2>
                <p class="govuk-body">We can post a certificate to you. You need to <a href="#">request a printed certificate</a>. Certificates can take up to 3 weeks to arrive.</p>

            </div>
        </div>
    </main>
</div>