@using SFA.DAS.DigitalCertificates.Web.Controllers
@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@model SFA.DAS.DigitalCertificates.Web.Models.Sharing.CertificateSharingLinkViewModel
@{
    ViewData[ViewDataKeys.Title] = ViewData[ViewDataKeys.ServiceName] + " Delete link";
    ViewBag.GaData.Vpv = ViewData[ViewDataKeys.GaDataVpvPrefix] + "delete-link";
}

<div class="govuk-width-container">
    <a asp-route="@CertificatesController.CertificateSharingLinkRouteGet"
       asp-route-certificateId="@Model.CertificateId" asp-route-sharingId="@Model.SharingId" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-l">@Model.CourseName, Sharing link @Model.SharingNumber</span>
                    Delete link
                </h1>

                <p class="govuk-body">If you delete a link, it will stop working for everyone.</p>

                <p class="govuk-body">To share your certificate with someone new, you can create a new sharing link.</p>

                <p class="govuk-body">This sharing link will automatically be deleted at @Model.FormattedExpiry.</p>

                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Are you sure you want to delete Sharing link @Model.SharingNumber?</h2>

                <p class="govuk-hint govuk-!-margin-top-0">This action cannot be undone</p>

                <form method="post" asp-route="@CertificatesController.DeleteSharingRoutePost" asp-route-certificateId="@Model.CertificateId" asp-route-sharingId="@Model.SharingId">
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">Delete link</button>
                        <a asp-route="@CertificatesController.CertificateSharingLinkRouteGet" asp-route-certificateId="@Model.CertificateId" asp-route-sharingId="@Model.SharingId" class="govuk-link govuk-!-margin-left-4">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </main>
</div>
