@model SFA.DAS.DigitalCertificates.Web.Models.Certificates.SharedCertificateFrameworkViewModel
@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@{
    ViewData[ViewDataKeys.Title] = ViewData[ViewDataKeys.ServiceName] + " Shared Certificate Framework";
    ViewBag.GaData.Vpv = @ViewData[ViewDataKeys.GaDataVpvPrefix] + "shared-certificate-framework";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-l">@Model.GivenNames @Model.FamilyName</span>
                    @Model.CourseName
                </h1>

                <p class="govuk-body">This verifies successful completion of the apprenticeship.</p>
                <p class="govuk-body">You can view this page until @Model.FormattedExpiry.</p>

                <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                        <span class="govuk-panel__title">Pass</span>
                    </div>
                </div>

                <h2 class="govuk-heading-m">Apprentice details</h2>
                <dl class="govuk-summary-list">
                    @if (!string.IsNullOrEmpty(Model.GivenNames))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">First name</dt>
                            <dd class="govuk-summary-list__value">@Model.GivenNames</dd>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.FamilyName))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Last name</dt>
                            <dd class="govuk-summary-list__value">@Model.FamilyName</dd>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.FrameworkCertificateNumber))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Certificate number</dt>
                            <dd class="govuk-summary-list__value">@Model.FrameworkCertificateNumber</dd>
                        </div>
                    }
                </dl>

                <h2 class="govuk-heading-m">Apprenticeship details</h2>
                <dl class="govuk-summary-list">
                        @if (!string.IsNullOrEmpty(Model.CourseName))
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Course</dt>
                                <dd class="govuk-summary-list__value">@Model.CourseName</dd>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.CourseOption))
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Framework pathway</dt>
                                <dd class="govuk-summary-list__value">@Model.CourseOption</dd>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.CourseLevel))
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Level</dt>
                                <dd class="govuk-summary-list__value">@Model.CourseLevel</dd>
                            </div>
                        }

                        @if (Model.QualificationsAndAwardingBodies != null && Model.QualificationsAndAwardingBodies.Any())
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Qualifications and awarding bodies</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list govuk-list--bullet">
                                        @foreach (var q in Model.QualificationsAndAwardingBodies)
                                        {
                                            <li>@q</li>
                                        }
                                    </ul>
                                </dd>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.ProviderName))
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Training provider</dt>
                                <dd class="govuk-summary-list__value">@Model.ProviderName</dd>
                            </div>
                        }

                        @if (Model?.StartDate != null)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Start date</dt>
                                <dd class="govuk-summary-list__value">@Model.StartDate?.ToString("dd MMMM yyyy")</dd>
                            </div>
                        }

                        @if (Model?.DateAwarded != null)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date awarded</dt>
                                <dd class="govuk-summary-list__value">@Model.DateAwarded?.ToString("dd MMMM yyyy")</dd>
                            </div>
                        }
                    </dl>

                @* TODO: Download your certificate. This is not part of the current ticket and will need to be addressed based on the requirements in upcoming tickets. *@
                <h2 class="govuk-heading-m">Download certificate</h2>
                <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary"
                   data-module="govuk-button">Download certificate (PDF)</a>
            </div>
        </div>
    </main>
</div>